body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    font-size: larger;
    font-weight: 600;
    
}

h1{
    background-color: purple;
    padding: 4px;
}

h2{
    color: white;
    background-color: black;
    padding: 3px;
}

.mtn:hover {
    background-color: azure;
}

.kt:hover {
    background-color: aqua;
}

.menu {
    text-align: center;
    background-color: black;
    font-size:18px;
    padding-top: 16pt;
}

.button {
    background-color: white;
    padding: 5px;
    border-color: black;
    text-decoration: none;
}

.button:hover {
    background-color: blue;
}
